{% extends 'templates/base.html' %}

{% block BASE %}http://localhost/likn/{% endblock %}
{% block title %} Teste {% endblock %}

{% block content %}
<main class="w100 mh100 flex-center" style="padding-top: 100px;">
  <div class="container box-shadow w100" style="width: 90%;">
    {% if link.id %}
    <header class="details-header">
      <div>
        <span>Código do link:</span>
        <h3>{{link.id}}</h3>
      </div>
      <div style="width: 65%" class="overflow-hidden">
        <span>Redirecionamento atual:</span>
        <h3><a href="{{link.redirect}}">{{link.redirect}}</a></h3>
      </div>
      <div class="buttons-container">
        <button class="btn-action btn-edit">EDITAR</button>
        <button class="btn-action btn-delete">DELETAR</button>
      </div>
    </header>
    <div class="details-body">
      <div class="clicks-datails">
        <div class="flex-center-collumn detail-card">
          <header class="header-title">TOTAL DE CLIQUES:</header>
          <div class="circle flex-center box-shadow">
            <span class="flex-center box-shadow txt-shadow">{{link.click_count}}</span>
          </div>
        </div>
        <div class="flex-center-collumn history-container detail-card">
          <header class="flex-center-collumn w100">
            <h3>Histórico de cliques</h3>
            <div class="gradient-border"></div>
          </header>
          <!-- https://ipstack.com/signup api para busca de ip -->
          <div class="history">
            <ul>
              {% for click in clicks %}
              <li class="flex-between">
                <div>
                  <div>
                    <i class="far fa-clock"></i>
                    {{click.clicked_at}}
                  </div>
                  <div>
                    <i class="fas fa-link"></i>
                    Código do link: {{click.link}}
                  </div>
                </div>
                <div>
                  <button class="btn gradient txt-shadow radius">
                    VER MAIS
                    <i class="fas fa-info-circle txt-shadow"></i>
                  </button>
                </div>
              </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="flex-center-collumn">
      <div class="flex-start w100 creation-details">
        <header>Informações de criação</header>
        <div>
          <div class="row">Link criado em: <br /> <span>{{link.created_at}}</span></div>
          <div class="row overflow-hidden">Redirecionamento para: <br /> <a href="{{link.initial_redirect}}">{{link.initial_redirect}}</a></div>
        </div>
      </div>
    </div>
  </div>
  {% else %}
  <div class="w100 flex-center-collumn">
    {% if error %}
    <span class="error">{{error.msg}}</span>
    {% endif %}
    <h3 style="margin-bottom:25px">Digite o código do link encurtado abaixo.</h3>
    <form action="http://localhost/likn/details" method="POST" class="w100 flex-center-collumn">
      <input class="link-input input radius" type="text" placeholder="Digite o link encurtado ou o código dele" name="link"/>
      <input class="btn input gradient txt-shadow radius" type="submit" value="Procurar link" />
    </form>
  </div>
  {% endif %}
</main>
{% endblock %}