{% block BASE %}{{BASE}}{% endblock %}
{% block title %} Teste {% endblock %}

{% block content %}
<main class="w100 h100 flex-center-collumn">
  <h2>Olá, {{user.name|capitalize}}</h2>
  <div class="container flex-center-collumn">
    <h3>O que você precisa fazer?</h3>

    <nav class="user-menu flex-center w100">

      <div class="w100">
        <a href="{{BASE}}/short" class="flex-between box-shadow radius tool btn">
          <i class="fas fa-link txt-shadow"></i>
          <p>Encurtar um link</p>
          <i class="far fa-question-circle txt-shadow"></i>
        </a>

        <a href="{{BASE}}/details" class="flex-between box-shadow radius tool btn">
          <i class="fas fa-chart-bar txt-shadow"></i>
          <p>Monitorar um link</p>
          <i class="far fa-question-circle txt-shadow"></i>
        </a>
      </div>

      <div class="w100">
        <a href="{{BASE}}/mylinks" class="flex-between box-shadow radius tool btn">
          <i class="fas fa-eye txt-shadow"></i>
          <p>Ver meus links</p>
          <i class="far fa-question-circle txt-shadow"></i>
        </a>

        <a href="{{BASE}}/profile" class="flex-between box-shadow radius tool btn">
          <i class="fas fa-user-circle txt-shadow"></i>
          <p>Meu perfil</p>
          <i class="far fa-question-circle txt-shadow"></i>
        </a>
      </div>

    </nav>
  </div>


</main>
{% endblock %}