{% extends 'templates/base.html' %}

{% block BASE %}http://localhost/likn/{% endblock %}
{% block title %} Teste {% endblock %}

{% block content %}
<main class="w100 h100 flex-center-collumn">
  <div class="container flex-center-collumn">
    <div class="logo"><img src="" alt="logo"></div>
    <div class="w100 flex">
      <form action="./short" method="POST" class="w100 flex-center-collumn">
        <input class="link-input input radius" type="text" placeholder="www.digiteseulink.com" name="url"/>
        <input class="btn input gradient txt-shadow radius" type="submit" value="Encurtar" />
      </form>
    </div>
    <div class="info"></div>
    {% if error == 'empty_url' %}
      <h3>Digite uma url no campo acima e clique em encurtar.</p>
    {% else %}
      <h3>Resultado: </h3>
      <p>URL original: {{ original_url }}</p>
      <p>URL encurtada: {{ shorted_url }}</p>
    {% endif %}
    </div>
  </div>
</main>
{% endblock %}