{% extends 'templates/base.html' %}

{% block title %} Teste {% endblock %}

{% block content %}
<main class="links-page">
  <h2>Olá, {{user.name|capitalize}}.</h2>
  <h3>Abaixo estão todos os seus links encurtados</h3>
  <div style="width: 70%;" class="table-container">
    <table class="table">
      <thead>
        <tr>
          <td>Código do link</td>
          <td>URL original</td>
          <td>URL encurtada</td>
          <td>Ações</td>
        </tr>
      </thead>
      <tbody>
        {% for link in links %}
        <tr>
          <td><a href="{{link.shorted_url}}">{{link.id}}</a></td>
          <td data-js="original_url"><a href="{{link.original_url}}">{{link.original_url}}</a></td>
          <td><a href="{{link.shorted_url}}">{{link.shorted_url}}</a></td>
          <td>
            <button class="btn-action btn-edit">
              <a href="./edit/{{link.id}}">EDITAR</a>
            </button>
            <button class="btn-action btn-delete">DELETAR</button>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</main>
{% endblock %}