{% extends 'templates/base.html' %}

{% block BASE %}{{BASE}}{% endblock %}
{% block title %} Teste {% endblock %}

{% block content %}
<main class="w100 h100 flex-center-column">
  <div class="container flex-center-column">
    <div class="logo">
      <img src="{{BASE}}/public/img/logo.png" class="logo" alt="LOGO">
    </div>
    <div class="w100 flex">
      <form action="{{BASE}}/short" method="POST" class="w100 flex-center-column">
        <input class="link-input input radius" type="text" placeholder="www.digiteseulink.com" name="url" />
        <input class="btn input gradient txt-shadow radius" type="submit" value="Encurtar" />
      </form>
    </div>
    <div class="info flex-center-column">
      {% if error == 'empty_url' %}
      <h3 class="align-justify">Digite uma url no campo acima e clique em encurtar.</h3>
      {% else %}
      <h3>Resultado: </h3>
      <p class="align-center" style="word-break: break-all;">URL original: <a target="_blank" class="main-green" href={{redirect}}>{{redirect}}</a></p>
      <p class="align-center">URL encurtada: <a target="_blank" class="main-green" href="{{shorted}}">{{shorted}}</a></p>
      {% endif %}
    </div>
  </div>
  </div>
</main>
{% endblock %}