{% extends 'templates/base.html' %}

{% block BASE %}http://localhost/likn/{% endblock %}
{% block title %} Cadastro {% endblock %}

{% block content %}
<main class="w100 h100 flex-center-collumn">
  <div class="container flex-center-collumn">
    <div class="logo"><img src="" alt="logo"></div>
    <div class="w100 flex">
      <form action="./signup-user" method="POST" class="w100 flex-center-collumn">
        <input class="link-input input radius" type="text" placeholder="Nome" name="name" required/>
        <input class="link-input input radius" type="email" placeholder="Email" name="email" required/>
        <input class="link-input input radius" type="password" placeholder="Senha" name="password" required/>
        <input class="btn input gradient radius" type="submit" value="Cadastrar" />
      </form>
    </div>
    <div class="info">
    </div>
  </div>
</main>
{% endblock %}