/* Google Fonts */

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

/* Reset */

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', Arial, Helvetica, sans-serif;
  font-size: 18px;
  text-decoration: none;
  color: white;
  outline: none;
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  width: 100%;
  height: 100vh;
  background-color: #09191c;
}

main {
  padding-top: 100px;
}

h3 {
  font-size: 30px;
}

p {
  font-size: 18px;
}


/* Collors */

.main-green {
  color: #2ebd59 !important;
}


/* Patterns */

.w100 {
  width: 100%;
}

.w50 {
  width: 50%;
}

.h100 {
  height: 100%;
}

.mh100 {
  min-height: 100%;
}

.flex {
  display: flex;
}

.flex-end {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.flex-collumn {
  display: flex;
  flex-direction: column;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.flex-j-evenly {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.flex-evenly-collumn {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.flex-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.flex-between-collumn {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}
  
  .flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex-center-collumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-center-collumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-start-collumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.flex-center-start-collumn {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
}

.box-shadow {
  box-shadow: 0 5px 20px black;
}

.link-nav {
  color: #2ebd59;
  text-align: center;
}

.link-nav:hover {
  text-decoration: underline;
  color: #00ce3e !important;
}

.txt-shadow {
  text-shadow: 2px 2px 20px black;
}

.btn {
  font-weight: bold;
  cursor: pointer;
  text-align: center;
}

.btn:hover {
  border: 2px solid #00aebb;
  box-shadow: 0 0 30px #0197a1;
}

.radius {
  border-radius: 50px;
}

.input {
  width: 70%;
  height: 45px;
  font-size: 20px;
  border: none;
  margin-bottom: 15px;
}

.gradient {
  background: linear-gradient(to right, #2ebd59, #00aebb);
}

.red-gradient {
  background: linear-gradient(to right, #ff6600, #ff0000);
}

.align-center {
  text-align: center;
}

.container {
  width: 70%;
  padding: 30px;
  border-radius: 20px;
  background-color: #2e2d31c5;
}

.overflow-hidden {
  overflow: hidden;
}

.error {
  background-color: rgba(0, 0, 0, 0.192);
  color: red;
  font-weight: 500;
  font-size: 25px;
  padding: 8px;
  border: 3px solid red;
  text-align: center;
  margin: 60px;
  border-radius: 2px;
  width: 60%;
}

.warning {
  background-color: rgba(0, 0, 0, 0.192);
  color: rgb(255, 208, 0);
  font-weight: 500;
  font-size: 25px;
  padding: 8px;
  border: 3px solid rgb(255, 187, 0);
  text-align: center;
  margin: 60px;
  border-radius: 2px;
  width: 60%;
}

.warning p, .warning .fas {
  color: rgb(255, 238, 0);
  text-shadow: 2px 2px 20px black;
}

.success {
  background-color: rgba(0, 0, 0, 0.192);
  color: #00ce3e;
  font-weight: 500;
  font-size: 25px;
  padding: 8px;
  border: 3px solid #00ce3e;
  text-align: center;
  margin: 60px;
  border-radius: 2px;
  width: 60%;
}


/* Header */

#header {
  width: 100%;
  height: 60px;
  background-color: #2e2d31c5;
  backdrop-filter: blur(10px);
  position: fixed;
}

#header a {
  font-size: 16px;
}

.open-menu {
  display: none;
  padding: 10px;
  border: none;
  background-color: transparent;
}
.open-menu .fas {
  color: #00bb38 !important;
  font-weight: bold !important;
  font-size: 30px;
}

.header-nav {
  width: 600px;
}

.header-nav ul li {
  width: 30%;
}

.header-nav ul li a {
  width: 100px;
  padding: 10px 0;
}
.header-nav ul li span {
  width: 160px;
  padding: 10px 0;
}

.menu-close-container {
  display: none;
}
/* All Main Content */

.bg-image {
  background-image: url("../img/wallpaper.png");
  background-size: cover;
  background-repeat: no-repeat;
}

.link-input {
  background-color: #ffffffd7;
  color: #2e2d31;
  padding: 20px;
}

.link-input::placeholder {
  color: #2e2d31;
  text-align: center;
}

.info {
  margin-top: 25px;
}

.info p {
  margin-top: 10px;
}

#features {
  margin: 350px 0;
}

#features ul {
  margin-top: 15px;
}

#features ul li:before {
  content: '\2022';
  margin: 0 10px;
  color: #2ebd59;
  font-size: 25px;
  text-shadow: 2px 2px 10px black;
}

.card {
  width: 100%;
  max-width: 300px;
  padding: 25px;
  border: 2px solid #2ebd59;
  border-radius: 20px;
  box-shadow: 2px 2px 20px #2ebd59;
  margin: 30px;
}

.card-header {
  height: 50px;
}

.card-title {
  height: 100%;
  margin-left: 15px;
}

.card-icon {
  background-color: #2ebd59c2;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.card-icon .fas {
  font-size: 30px;
}

#cards {
  padding: 0 15px;
}

#cards h5 {
  font-size: 16px;
}

#cards p {
  margin-top: 25px;
}

#cards a {
  width: 50px;
}

.card-pair {
  display: flex;
}

[data-js="signup_btn"] {
  font-size: 18px !important;
}

.tool {
  width: 250px;
  height: 50px;
  border: 1px solid #00aebb9f;
  margin: 15px;
  background-color: #1d1d1d;
  cursor: pointer;
}

.tool:hover {
  border-color: #0cc042;
  box-shadow: 1px 1px 10px #0cc042;
}

.tool .fas,
.tool .far {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  margin-left: 5px;
  border-radius: 50%;
}

.tool .fas {
  background-color: #1c9741;
}

.tool .far {
  color: #2ebd59;
}

.list {
  width: 80%;
}

#list li {
  width: 100%;
  min-height: 70px;
  background-color: #2e2d31;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: 1px rgb(0, 0, 0) solid;
  padding: 25px 0;
}

.li-code {
  border-right: 2px solid green;
  padding-right: 25px;
}

.li-redirect {
  width: 50%;
}

.hide {
  display: none;
}

.show {
  margin-top: 15px;
  min-height: 250px;
}

.show a {
  text-decoration: underline;
  text-decoration-color: #00ce3e;
  margin-top: 15px;
}

.btn-action {
  height: 30px;
  width: 100px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
  text-shadow: 2px 2px 5px black !important;
}

.btn-edit {
  background: linear-gradient(to right, #2ebd59, #00aebb);
}

.btn-delete {
  background: linear-gradient(to right, #c9712a, #c42323);
}

.btn-edit:hover {
  background: linear-gradient(to right, #00ce3e, #00c8d6);
  box-shadow: 0px 0px 10px #00c8d6;
}

.btn-delete:hover {
  box-shadow: 0px 0px 10px #ff0000;
  background: linear-gradient(to right, #ff6600, #ff0000);
}

.strip {
  padding: 10px;
}

/* details page */

.details-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 30px;
  margin-bottom: 30px;
  border-bottom: 2px solid #0cc042;
}

.details-header .buttons-container {
  height: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.gradient-border {
  width: 100%;
  height: 5px;
  background: linear-gradient(to right, #2ebd59, #00aebb);
}

.details-body {
  margin: 40px 0;
}

.clicks-datails {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.header-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 25px;
}

.detail-card {
  height: 500px;
  /* background-color: #00ce3e; */
}

.detail-card h3 {
  font-size: 25px;
  padding: 20px;
}

.history-container {
  width: 68%;
  background-color: #09191c;
  border-radius: 15px;
}
.history {
  overflow-y: scroll;
  width: 100%;
}
.history::-webkit-scrollbar {
  background-color: #131313;
  width: 15px;
}
.history::-webkit-scrollbar-thumb {
  background-color: #00bb38;
  box-shadow: -3px 3px 10px black;
}

.history ul li {
  padding: 5px 25px;
  height: 90px;
  background-color: #1d1d1d;
  border-top: 2px solid #0cc04252;
  border-bottom: 2px solid #0cc04252;
  margin: 5px 0;
}

.history li div {
  color: #b8b8b8;
  font-weight: bold;
}

.history li button {
  padding: 10px;
  border: none;
}
.history li button .fas {
  color: #fff !important;
  font-weight: bold !important;
}

.history .fas, .history .far {
  margin: 5px;
  color: #b8b8b8;
  font-weight: bold;
}



.circle {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-image: linear-gradient(60deg, #2ebd59, #00aebb);
  animation: gradientAnimation 2s linear infinite;
  background-size: 300% 300%;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
.circle span {
  width: 190px;
  height: 190px;
  border-radius: 50%;
  background-color: #2e2d31;
  font-size:60px;
}
.creation-details {
  width: 90%;
  background-color: #09191c;
  border-radius: 20px;
  padding: 30px;
}
.creation-details header {
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 20px;
}
.creation-details .row {
  padding: 10px;
  font-size: larger;
  width: 100%;
  border-bottom: 2px solid #0cc042;
}

.row a, .row span {
  font-size: 20px !important;
  font-weight: bold !important;
  color: #b8b8b8;
}

.modal {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,.8);
  z-index: 90;
}

#close {
  color: red;
  font-size: 35px;
  cursor: pointer;
}
#close:hover {
  color: red;
  text-shadow: 1px 1px 15px red !important;
}

#profile-info {
  width: 30%;
  border-right: 3px #00ce3e solid;
  overflow: hidden;
}

.profile-pic {
  background-color: #0cc042;
  border-radius: 50%;
}

#profile-info div.info {
  margin-top: 20px;
  word-break: break-all;
}

#profile-info div label {
  font-weight: bold;
  word-wrap: break-word;
}

#map {
  width: 95%;
  height: 480px;
  margin-top: 25px;
}

@media screen and (max-width: 795px) {
  .container {
    width: 95%;
  }
  .container nav {
    flex-direction: column;
    width: 90%;
  }
  .input {
    width: 100%;
  }
  .tool {
    width: 100%;
    margin-bottom: 0;
  }
  .list {
    width: 97%;
  }
  #list li {
    padding-left: 15px;
    padding-right: 15px;
  }
  #list li div:first-child {
    flex-direction: column;
    justify-content: space-between;
  }
  #list li div:first-child div {
    margin-bottom: 25px;
  }
  #list li div:first-child div:last-child {
    margin: 0;
  }
  .li-code {
    border-right: 0;
    padding-right: 0;
    border-bottom: 2px solid green;
    padding-bottom: 25px;
  }
  .strip:first-child {
    padding: 20px 0;
    width: 100%;
  }
  .strip .btn {
    font-size: 14px;
    word-break: break-word;
  }
  #features {
    padding: 0 15px;
  }
  #cards {
    flex-direction: column;
  }
  #cards .card-pair {
    flex-direction: column;
  }
  .card {
    margin-left: 0;
    margin-right: 0;
  }
  .open-menu {
    display: block;
  }
  .menu-close-container {
    display: flex;
  }
  .header-nav {
    display: none;
    flex-direction: column;
  }
  .header-nav ul {
    flex-direction: column;    
    justify-content: start;
    align-items: center;
  }
  .header-nav ul li {
    height: 50px;
  }
}