<footer class="flex-evenly-column">
  <div class="flex-center-column" style="margin: 15px 0;">
    <span style="margin-bottom: 5px;">Desenvolvido por:</span>
    <a href="https://github.com/ArthurAbreuVieira" class="link-nav" style="font-weight: bold;">Arthur Abreu Vieira Mendes</a>
  </div>
  <div class="flex-center-column">
    <div class="flex-center-column" style="margin-bottom: 15px;">
      <label style="margin-bottom: 15px;">Repositório do projeto:</label>
      <a href="https://github.com/ArthurAbreuVieira/FineLy-Link-Shorter">
        <img class="github-logo" src="{{BASE}}/public/img/GitHub-logo.png" alt="GitHub logo">
      </a>
    </div>
    <div class="flex-center-column">
      <a href="">
        <img class="logo" style="margin: 0;" src="{{BASE}}/public/img/logo.png" alt="FineLy logo">
      </a>
    </div>
  </div>
  <nav class="w100">
    <ul class="flex-evenly w100" style="list-style: circle;">
      <li class="flex-center h100">
        <a href="{{BASE}}/short" class="link-nav txt-shadow">Encurtar</a>
      </li>
      <li class="flex-center h100">
        <a href="{{BASE}}/mylinks" class="link-nav txt-shadow">Ver meu links</a>
      </li>
      <li class="flex-center h100">
        <a href="{{BASE}}/home" class="link-nav txt-shadow">Início</a>
      </li>
      <li class="flex-center h100">
        <a href="{{BASE}}/profile" class="link-nav txt-shadow">Meu perfil</a>
      </li>
    </ul>
  </nav>
</footer>