<footer>
  esse é o footer
  Lorem, ipsum dolor sit amet consectetur adipisicing elit. Blanditiis, fugiat et quis consequuntur laboriosam, doloribus eligendi inventore enim temporibus, quae ipsum exercitationem facilis repellendus nihil amet optio porro quisquam corrupti.
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Enim dolorum ullam, libero rerum odit laudantium totam distinctio aspernatur fugit tenetur optio aut! Consequuntur voluptate blanditiis sint eum debitis pariatur vel!
  Lorem ipsum dolor sit, amet consectetur adipisicing elit. Deleniti nam minima, perspiciatis deserunt quos, dolorum dignissimos dolore aliquam ipsa qui rem libero? Delectus placeat non accusamus, quod modi vero accusantium.
</footer>